html{
  position: relative;
  min-height: 100%;
  background-image: url(../images/Tile.png);
  background-repeat: repeat;
}

header
{
  background-color: #F5F5F5;
  width: 100%;
  top: 0;

  text-align: center;
  padding-left: 30px;
  margin-bottom: 25px;
}

main
{
  width: 100%;
  position: absolute;

  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  color: #F5F5F5;
}

footer
{
  background-color: #212121;
  text-align: center;
  color: #F5F5F5;

  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}

h1
{
  font-size: 50px;
}

h6
{
  font-size: 15px;
}

hr
{
  width: 280px;
}

.mobile-wrapper
{

}

.add-margin
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.side-nav-effect
{
  padding-left: 320px;
}
