html
{
  min-height: 100%;
  background-image: url(../images/Tile.png);
  background-repeat: repeat;
}

header[sidenav], main[sidenav], footer[sidenav]
{
  padding-left: 320px;
}

@media only screen and (max-width : 992px) {
  header[sidenav], main[sidenav], footer[sidenav]
  {
    padding-left: 0;
  }
}

@media only screen and (max-width : 496px) {
  header
  {
    padding-top: 70px;
  }
}

header
{
  background-color: #F5F5F5;
  width: 100%;

  text-align: center;
  margin-bottom: 50px;
}

main
{
  width: 100%;
  position: absolute;
  margin-bottom: 30px;

  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  color: #F5F5F5;
}

footer
{
  background-color: #212121;
  color: #F5F5F5;
  text-align: center;

  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

footer h6
{
  font-size: 12px;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}

h1
{
  font-size: 50px;
}

h2
{
  font-size: 40px;
}

h6
{
  font-weight: 300;
}

a
{
  color: #F5F5F5;
}

hr
{
  width: 280px;
  margin-top: 50px;
  margin-bottom: 50px;
}

hr.full
{
  width: 100%;
}

.bold
{
  font-weight: 400;
}

.connect
{
  display: inline;
}

.text-height-plus
{
  line-height: 1.5em;
}

.top-left-button
{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.full-button
{
  width: 100%;
}

.menu-button
{
  margin-top: 15px;
  margin-bottom: 15px;
}
