html
{
  min-height: 100%;
  background-image: url(../images/Tile.png);
  background-repeat: repeat;
}

header[sidenav], main[sidenav], footer[sidenav]{
  padding-left: 320px;
}

@media only screen and (max-width : 992px) {
  header[sidenav], main[sidenav], footer[sidenav] {
    padding-left: 0;
  }
}

header
{
  background-color: #F5F5F5;
  width: 100%;
  top: 0;

  text-align: center;
  margin-bottom: 50px;
}

main
{
  width: 100%;
  position: absolute;

  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  color: #F5F5F5;
}

footer
{
  background-color: #212121;
  color: #F5F5F5;
  text-align: center;

  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}

h1
{
  font-size: 50px;
}

h6
{
  font-size: 12px;
}

a
{
  color: #F5F5F5;
}

hr
{
  width: 280px;
}

.full-size-center
{
  width: 100%;
  text-align: center;
}

.top-left-button
{
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.add-margin
{
  margin-top: 15px;
  margin-bottom: 15px;
}
